@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Oswald:wght@400;500&display=swap');

/* header btn hover */
.fc .fc-button:hover:not(:disabled):not(:active) {
    color: black;
    background-color: white;
}

/* header btn active */
.fc-direction-ltr .fc-button-group > .fc-button-active {
    color: black !important;
    cursor: default;
}

/* Header text */
.fc .fc-col-header-cell-cushion {
    padding: 4px;
    font-size: 1.5em;
    font-weight: bold;
}

/* Header */
.fc-col-header-cell {
    color: white;
    background-color: var(--outline-color);
    font-family: 'Montserrat', sans-serif;
}

/* all day */
.fc-timegrid-axis-frame {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

/* Left grid bg color*/
.fc-timegrid-axis {
    background-color: var(--outline-color);
}

/* hours */
.fc-timegrid-slot-label-frame {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    padding: 5px;

    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 30min border */
.fc .fc-timegrid-slot-minor {
    padding: 5px;
    border-top-style: dashed;
    border-bottom: 1px solid;
    border-color: rgb(88, 87, 94);
}

thead {
    background-color: var(--outline-color);
    padding-top: -10px;
}

.fc .fc-scroller::-webkit-scrollbar {
    display: none;
    width: 20px;
}

.fc .fc-scroller::-webkit-scrollbar-thumb {
    display: none;
    background-color: var(--outline-color);
    border-radius: 10px;
}

.fc .fc-toolbar-title {
    display: none;
}

.fc-timegrid-event .fc-event-time {
    font-size: 1em;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 5px;
}

.fc-v-event .fc-event-title {
    padding-left: 10px;
    font-size: 1.6em;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
}

.fc .fc-scroller-liquid-absolute {
    background-color: rgba(255, 255, 255, 0.671);
}

.fc .fc-view-harness {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.473);
    border: 1px solid black;

}

.fc-timegrid-event-harness-inset .fc-timegrid-event, .fc-timegrid-event.fc-event-mirror, .fc-timegrid-more-link {
    border-radius: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    box-shadow: 0px 0px 10px rgba(73, 70, 150, 0.507);
}

@media screen and (max-width: 640px) {
    .fc-v-event .fc-event-title {
        padding-left: 10px;
        font-size: 1.2em;
        font-family: 'Oswald', sans-serif;
        font-weight: normal;
    }

    /* Header text */
    .fc .fc-col-header-cell-cushion {
        padding: 4px;
        font-size: 1em;
        font-weight: bold;
    }
}