@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-thumb {
  @apply bg-default-300 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-default-400;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track:hover {
  @apply bg-transparent;
}

/***
  * FullCalendar
***/
.full-calendar {
  --fc-border-color: transparent;
  --fc-button-text-color: #111111;
  --fc-button-bg-color: transparent;
  --fc-button-border-color: transparent;
  --fc-button-hover-bg-color: #f3f3f3;
  --fc-button-hover-border-color: #f3f3f3;
  --fc-button-active-bg-color: #c5c5c5;
  --fc-button-active-border-color: #c5c5c5;
  --fc-event-bg-color: #3b82f6;
  --fc-event-border-color: #3b82f6;
  --fc-event-text-color: #fff;

  .fc-button {
    box-shadow: none !important;
  }

  .fc-icon-chevron-left::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('/icons/chevron-left-bold.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .fc-icon-chevron-right::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('/icons/chevron-right-bold.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .fc-button {
    border-radius: 8px !important;
  }

  .fc-dayGridWeek-button,
  .fc-dayGridMonth-button {
    --fc-button-hover-bg-color: #e5e7eb;
    --fc-button-hover-border-color: #e5e7eb;
    --fc-button-active-bg-color: #fff;
    --fc-button-active-border-color: #e5e7eb;

    @apply z-0 w-full px-3 py-1 flex relative justify-center items-center cursor-pointer transition-opacity tap-highlight-transparent h-8 text-small rounded-full !important;
  }

  .fc-button-group:has(.fc-dayGridWeek-button) {
    @apply flex p-0.5 h-fit gap-1 items-center flex-nowrap overflow-x-scroll scrollbar-hide bg-default-100 rounded-full;
  }

  .fc .fc-toolbar-title {
    @apply text-base text-gray-500;
  }

  @media screen and (max-width: 1024px) {

    .fc-icon-chevron-right::before,
    .fc-icon-chevron-left::before {
      width: 24px;
      height: 24px;
    }

    .fc .fc-toolbar-title {
      @apply ml-4 text-foreground text-lg;
    }
  }

  @media screen and (max-width: 600px) {

    .fc-dayGridWeek-button,
    .fc-dayGridMonth-button {
      display: none !important;
    }
  }

  table.fc-scrollgrid-sync-table {
    border-radius: 8px !important;
    overflow: hidden;
  }

  tr.fc-scrollgrid-section.fc-scrollgrid-section-body {
    --fc-border-color: #e5e7eb;
  }

  tr.fc-scrollgrid-section.fc-scrollgrid-section-body>td {
    border-left-width: 1px;
    border-top-width: 1px;
    border-bottom-left-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
  }

  .fc-col-header-cell-cushion {
    @apply text-gray-500 text-xs font-normal capitalize;
  }
}

.schedule-container {
  --fc-today-bg-color: #fff;

  th.fc-col-header-cell.fc-day.fc-day-today {
    border-bottom: 3px solid #3b82f6;
  }

  th.fc-col-header-cell.fc-day {
    border-bottom: 3px solid #e5e7eb;
  }

  .fc-direction-ltr .fc-timegrid-col-events {
    @apply ml-px mr-px;
  }
}

.calendar-container {
  --fc-today-bg-color: #dbeafe;

  .fc .fc-daygrid-day-top {
    flex-direction: row;
  }

  .fc .fc-day-other .fc-daygrid-day-top {
    opacity: 1;
    color: #4b5563;
  }

  td.fc-day-other {
    background-color: #f3f4f6;
  }

  td.fc-day-today {
    color: #1d4ed8;
  }
}

.fc-h-event .fc-event-main {
  @apply hover:backdrop-brightness-75 hover:cursor-pointer
}

.fc-daygrid-dot-event .fc-event-title {
  @apply hover:cursor-pointer;
}

.customInput {
  width: 300px;
}