/* Apply custom styles to the FullCalendar container */
.fc {
    border-radius: 12px;
    overflow: hidden;
  }

  /* Apply custom background color to day cells */
.fc-day {
    background-color: #dae7ec;
  }
  
  /* Apply custom styles to event cells */
  .fc-daygrid-event {
    background-color: #007bff;
    color: white;
    border: none;
  }
  
  /* Apply custom styles to event popups */
  .fc-event-popup {
    background-color: white;
    border: 0px solid #ccc;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }

/* Remove borders between calendar cells */
.fc-daygrid-day {
  border: none;
}

.fc-day-today {
  background-color: #b11818;
  /* color: #fff;  */
}

/* Change the text color of the Month and Year in the FullCalendar header */
.fc-header-toolbar {
  color: black; /* Replace with your desired text color */
  background-color: white; /* Replace with your desired background color */
  text-align: center; /* Center the text horizontally */
  padding: 10px; /* Add padding for spacing */
}

.fc-col-header-cell {
  border-right: none !important;
}

/* calendar.styles.css */
.custom-title {
    color: #5d6c71;
    font-family: "Nunito Sans-Regular", Helvetica;
    font-size: 16.8px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
    width: fit-content;
  }
    
