@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --btn: #2C3E50;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;


  /* FullCalendar */
  --fc-border-color: black; 

  --fc-button-text-color: white;
  --fc-button-bg-color: var(--btn);
  --fc-button-hover-text-color: black;
  --fc-button-hover-bg-color: rgb(255, 255, 255);
  --fc-button-active-bg-color: var(--btn);
/*  --fc-button-active-border-color: black; */
  --fc-event-bg-color: #3c7dbe;
  --fc-event-text-color: white;
  --fc-event-border-color: #3788d8;
/*  --fc-today-bg-color: rgba(255, 251, 198, 0.432); */

  --outline-color: #0b223a;
}

::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: rgb(84, 160, 190); /* Color of the scrollbar thumb */
  border-radius: 10px; /* Border radius of the thumb */
}

::-webkit-scrollbar-track {
  background-color: rgba(248, 248, 248, 0.774);
}

::-webkit-scrollbar-track:hover {
  background-color: rgba(248, 248, 248, 0.774); /* Background color of the scrollbar track on hover */
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}
